# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.zip

# Misc artifacts
.DS_Store
.cache/
*.sw[op]

# Exclude these directories
bin/
data/

# Distribution / packaging
env/
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# IDE and editor stuff
.idea/
.vscode/
.ropeproject/
